---
import Layout from '../layouts/Layout.astro';
import { Content } from '../components';

const url = 'https://rickandmortyapi.com/api/character';
const data = await fetch(url);
const json = await data.json();
const results = json.results;

console.log(results);
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Rick <span class="text-gradient">And</span> Morty</h1>
		
		<Content client:load result={results}/>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
